body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #28a745;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.center button:first-child {
    margin-right: 10vw; /* Adjust as needed */
}
.settings-container {
    padding: 20px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.settings-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    background-color: transparent;
}
.settings-list li span {
    flex-shrink: 0;
}

.settings-list li > *:nth-child(2) {
    margin-left: auto;
}

.settings-list li > *:not(:first-child) {
    margin-right: 1vw;
}

.custom-file-button {
    padding: 10px 20px;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: center;
}

ul {
    list-style-type: none; /* Remove default list bullets */
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    /* font-size: 32px; */
    justify-content: space-between;
    background-color: #f9f9f9; /* Light background color */
    border: 1px solid #ddd;  /* Light border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 10vw;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    padding-top: 40px;
    margin: auto;
    min-height: 50vh;
}
.button-container button {
    font-size: clamp(14px, 8vw, 48px) !important;
}


/* Styling the buttons */
button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:active {
    background-color: #28a745 !important;
}
#initial-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    width: 100vw; /* Full width of the viewport */
    height: 10vh; /* Half the height of the viewport */
}
#initial-buttons button {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#name-button {
    width: 15vw;
    height: 54px;
}

#number-button {
    width: 15vw;
    height: 54px;
}

#back-button {
    position: absolute;
    top: 1vh;
    left: 1vw;
    font-size: clamp(14px, 4vw, 32px);
    border: none;
    background-color: #007BFF;
    cursor: pointer;
    color: white;
    display: none; /* Hidden initially */
}
#show-old-button {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: clamp(14px, 4vw, 32px);
    border: none;
    background-color: #007BFF;
    cursor: pointer;
    color: white;
    display: none; /* Hidden initially */
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blur {
    filter: blur(5px);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
